{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}
{% block body %}
	{% if app.user %}
		<div class="d-flex flex-column flex-shrink-0 p-3 bg-light bg-yellow" style="width: 280px;">
			<h3>Welcome,
				<span style="font-size: 15px; font-weight:200;">{{ app.user.userIdentifier }}</span>
			</h3>
			<a href="{{ path('app_logout') }}">Logout</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<li>
					<a href="{{path('app_dashboard')}}" class="nav-link active link-dark">
						Dashboard
					</a>
				</li>
				<li>
					<a href="{{path('app_appliedExams', {'id': app.user.id})}}" class="nav-link link-dark">
						Applied Exams
					</a>
				</li>
				<li>
					<a href="{{path('app_exams')}}" class="nav-link link-dark">
						Upcoming exams
					</a>
				</li>
				<li>
					<a href="{{ path('app_profile', { 'id': app.user.id }) }}" class="nav-link link-dark">
						Profile
					</a>
				</li>
			</ul>
		</div>

		{# Dashboard body starts here. #}
		<div class="dashboard-body">
			<div class="container">
				<div class="row mt-5">
					<div class="col-6 mt-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Applied exams</h5>
								<h6 class="card-subtitle mb-2 text-muted">See your exams.</h6>
								<p class="card-text">Look at your exams and start preparing for it.</p>
								<a href="{{path('app_appliedExams', {'id': app.user.id})}}" class="card-link">Show more</a>
							</div>
						</div>
					</div>
					<div class="col-6 mt-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Upcoming exams.</h5>
								<h6 class="card-subtitle mb-2 text-muted">See all upcoming exams.</h6>
								<p class="card-text">See the exams list and apply for that.</p>
								<a href="{{path('app_exams')}}" class="card-link">Show more</a>
							</div>
						</div>
					</div>
					<div class="col-6 mt-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Your result.</h5>
								<h6 class="card-subtitle mb-2 text-muted">See your exam Vs result.</h6>
								<p class="card-text">See your exam vs result table.</p>
								<a href="#" class="card-link">Show more</a>
							</div>
						</div>
					</div>
					<div class="col-6 mt-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Your Profile.</h5>
								<h6 class="card-subtitle mb-2 text-muted">See your Profile</h6>
								<p class="card-text">See your profile.</p>
								<a href="{{path('app_profile', {'id': app.user.id})}}" class="card-link">Show more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	{# Dashboard body ends here. #}
{% endblock %}
